In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('tmdb_5000_movies.csv')

In [5]:
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [7]:
df.describe(include=['O'])

,genres,homepage,keywords,original_language,original_title,overview,production_companies,production_countries,release_date,spoken_languages,status,tagline,title
count,4803,1712,4803,4803,4803,4800,4803,4803,4802,4803,4803,3959,4803
unique,1175,1691,4222,37,4801,4800,3697,469,3280,544,3,3944,4800
top,"[{""id"": 18, ""name"": ""Drama""}]",http://www.missionimpossible.com/,[],en,Out of the Blue,A romantic comedy about a family traveling to ...,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2006-01-01,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Based on a true story.,The Host
freq,370,4,412,4505,2,1,351,2977,10,3171,4795,3,2

In [8]:
df.genres.head()

0    [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1    [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2    [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3    [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4    [{"id": 28, "name": "Action"}, {"id": 12, "nam...
Name: genres, dtype: object

### To perform the apriori algorithm, we first have to break up the IDs into readable format

In [9]:
import re

def getGenres(item):
    genre_groups = item.split(',')
    regEx = re.compile('[A-Za-z]+')
    genre = []    
    
    for group in genre_groups:
        idName = group.split(':')
        #print('idName: ', idName)
        name = idName[1].strip().replace('}','')
        if(regEx.match(name)):
            genre.append(name)
    return genre

In [10]:
df.genres = df.genres.str.replace('[','').str.replace(']','').str.replace(' ','').str.replace('\"','')
df.genres
completeList = []

for item in df.genres:
    if(item != ''):
        local_genres = getGenres(item)
        completeList.append(local_genres)

In [11]:
completeList[:10]

[['Action', 'Adventure', 'Fantasy', 'ScienceFiction'],
 ['Adventure', 'Fantasy', 'Action'],
 ['Action', 'Adventure', 'Crime'],
 ['Action', 'Crime', 'Drama', 'Thriller'],
 ['Action', 'Adventure', 'ScienceFiction'],
 ['Fantasy', 'Action', 'Adventure'],
 ['Animation', 'Family'],
 ['Action', 'Adventure', 'ScienceFiction'],
 ['Adventure', 'Fantasy', 'Family'],
 ['Action', 'Adventure', 'Fantasy']]

### The IDs are now in readable format for the Apriori algorithm

In [12]:
import sys
sys.path.insert(0, 'Apriori-master')

from apriori import apriori

In [19]:
minimum_support = 0.1
minimum_confidence = 0.1

ap = apriori.Apriori(completeList,minimum_support,minimum_confidence)
ap.run()
ap.print_frequent_itemset()

======================================================
Frequent itemset:
(Comedy)  support = 0.361
(ScienceFiction)  support = 0.112
(Romance)  support = 0.187
(Horror)  support = 0.109
(Adventure)  support = 0.165
(Crime)  support = 0.146
(Thriller)  support = 0.267
(Family)  support = 0.107
(Action)  support = 0.242
(Drama)  support = 0.481
(Comedy, Romance)  support = 0.101
(Comedy, Drama)  support = 0.121
(Thriller, Action)  support = 0.115
(Drama, Thriller)  support = 0.116
(Romance, Drama)  support = 0.126
======================================================

In [20]:
ap.print_rule()

======================================================
Rules:
(Romance) ==> (Comedy)  confidence = 0.541
(Comedy) ==> (Romance)  confidence = 0.281
(Drama) ==> (Comedy)  confidence = 0.251
(Comedy) ==> (Drama)  confidence = 0.334
(Action) ==> (Thriller)  confidence = 0.474
(Thriller) ==> (Action)  confidence = 0.429
(Thriller) ==> (Drama)  confidence = 0.435
(Drama) ==> (Thriller)  confidence = 0.241
(Drama) ==> (Romance)  confidence = 0.263
(Romance) ==> (Drama)  confidence = 0.674
======================================================

If you run the algorithm with the parameters set as follows:
    miminum_support = 0.01
    minimum_confidence = 0.01
We'll be able to see all the items with 2 or more items appear in the frequent itemset, along with their rules. As of this algorithm, we can see that the 5 frequent itemsets that appear are:
                        
    (Comedy, Romance)
    (Comedy, Drama)
    (Thriller, Action)
    (Drama, Thiller)
    (Romance, Drama)